@use '../base/variables' as *;
@use '../utilities/mixins' as *;
@use '../utilities/functions' as *;


// -----------------------------------------------------------------------
// Mobile and Universal Styling
// -----------------------------------------------------------------------
.about {
    @include flex-column (center, center, 0);
}

.about-section-01 {
    // mobile and universal styling
    margin: 0 10px;
    @include flex-column (center, flex-start, 0);
    align-content: center;
    justify-items: center;
    padding-top: 3rem;

    img {
        width: 100%;
    }
    h2{
        padding: 3rem 0 1rem;
        padding-bottom: 1rem;
        display: block;
        margin: auto;
        font-weight: 600;
    }
    h3 {
        margin-top: 1.5rem;
        font-weight: 500;
    }
    p {
        margin: 1rem 0;
        font-weight: 300;
    }

    .tmdbAttribution {
        @include flex-column(center, center, 0);
        margin: auto;
        padding: 1rem 0 3rem;

        img {
            width: 250px;
        }
    }
}

// -----------------------------------------------------------------------
// Tablet Styling
// -----------------------------------------------------------------------
@include mq($tablet-width) {
    .about {
        color: $tertiary-colour;
        background: linear-gradient(to bottom, #141414 0%, #1c1c1c 100%);
    }

    .about-section-01 {
        max-width: 46rem;
        padding: 0 3rem;
        background: linear-gradient(to bottom, #191919 0%, #3d3d3d 100%);
    }
}



// -----------------------------------------------------------------------
// Desktop Styling
// -----------------------------------------------------------------------
@include mq($desktop-small-width){
    .about-section-01 {
        max-width: 60rem;
        padding: 0 10rem;

    }
}

@include mq($desktop-medium-width){
    .about{
        padding-top: $desktop-header-height;
    }
}
