@use '../base/variables' as *;
@use '../utilities/mixins' as *;
@use '../utilities/functions' as *;

.addToListBtn {
    font-size: rem(24);
    color: $tertiary-colour;
    background: none;
    border: none;
    outline: none;

    transition: color $link-hover-animation-time ease-in-out;
    cursor: pointer;

    @include mq($desktop-small-width) {
        &:hover {
            color: $on-hover-white
        }
    }
}