@use '../base/variables' as *;
@use '../utilities/mixins' as *;

.addToListBtn {
    transition: color $link-hover-animation-time ease-in-out;
    cursor: pointer;

    @include mq($desktop-small-width) {
        &:hover {
            color: $on-hover-white
        }
    }
}