@use '../base/variables' as *;

.addToListBtn {
    transition: color $link-hover-animation-time ease-in-out, transform  $link-hover-animation-time ease-in-out;
}

.addToListBtn:hover {
    color: $on-hover-white;
    transform: scale(1.2);
}