@use '../base/variables' as *;
@use '../utilities/mixins' as *;
@use '../utilities/functions' as *;

header {
    @include flex-row(space-between, center, $padding);
    background-color: $secondary-colour;
    width: 100%;
    padding: rem(16) rem(25);

    // Logo placeholder, delete later
    div {
        color: white;
    }

    @include mq(em(1200)) {
        padding: $padding rem(70);
    }
}