@use '../base/variables' as *;
@use '../utilities/mixins' as *;
@use '../utilities/functions' as *;

.searchResults {
    margin: 0 auto;
    width: clamp(280px, 80%, 1200px);
    padding: 3rem 0;

    .headerContainer {
        p {
            font-size: rem(14);
            margin-top: $padding;
        }
    }

    .buttonContainer {
        @include flex-row(center, center, $padding);
        margin-top: $padding-double;

        button {
            color: $tertiary-colour;
            background-color: $primary-colour;
            width: rem(100);
            padding: $padding-half $padding;
            border: none;
            border-radius: rem(6);
        }

        p {
            margin: 0;
            width: 20%;
            text-align: center
        }
    }

    .movieContainer {
        @include flex-row-wrap(center, center, rem(24));
        margin-top: $padding-double;
    }

}