@use '../utilities/functions' as *;

// Colours
$primary-colour: #003DC6;
$secondary-colour: #111111;
$tertiary-colour: #FFFFFF;

// Hover state colours
$on-hover-black: #8D8D8D;
$on-hover-blue: #83A9FF;
$on-hover-white: #5E5E5E;

// Fonts
$font: 'Jost', Arial, sans-serif;
$line-height: 1.25;

// Padding
$padding: 1rem;
$padding-half: 0.5rem;
$padding-double: 2rem;

// Components
$mobile-header-height: rem(80);
$desktop-header-height: rem(100);

// Animations
$link-hover-animation-time: 0.3s;

// Device Widths
$tablet-width: em(768);
$desktop-small-width: em(1000);
$desktop-medium-width: em(1200);
$desktop-large-width: em(1400);